.footer {
	
}

.bottom {
  position: fixed;
  width: 100%;
  height: 85px;
  bottom: 0;
  left: 0;
  background: $pink-color;

  .col {
    width: 50%;
    float: left;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      border-right: 1px solid rgba(#000,0.1);
    }

    a {
      font-size: 20px;
      font-weight: 600;
      color: #ffffff;
    }
  }

  &__reviews {
    background: url(../img/icon-reviews.svg) no-repeat left center;
    background-size: auto 100%;
    padding-left: 46px;
    line-height: 28px;
  }

  &__where {
    background: url(../img/icon-where.svg) no-repeat left center;
    background-size: auto 100%;
    padding-left: 33px;
    line-height: 22px;
  }

}