.header {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  z-index: 2;

  &.active {
    box-shadow: 0 0 4px 0 rgba(102, 102, 102, 0.5);
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
  }

  &__nav {
    font-size: 0;
    margin-right: 82px;
    a {
      font-size: 16px;
      line-height: 1;
      font-weight: 600;
      color: #222222;
      height: 60px;
      border-bottom: 2px solid transparent;
      display: inline-block;
      padding: 0 2px;
      padding-top: 22px;
      &:not(:last-child) {
        margin-right: 37px;
      }
      &.active, &:hover {
        border-bottom-color: $pink-color;
      }
    }
  }

  &__location {
    margin-right: 100px;
  }

  &__location-current {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: rgba(#181414, 0.5);
    vertical-align: middle;
    cursor: pointer;
    &:before {
      content: '';
      width: 10px;
      height: 15px;
      background: url(../img/icon-location.svg) no-repeat center;
      background-size: cover;
      margin-right: 12px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px;
    }
  }

  &__socials {
    font-size: 0;
    a {
      display: inline-block;
      width: 20px;
      height: 20px;
      opacity: 1;
      &:not(:last-child) {
        margin-right: 30px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__burger {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 12px;
    display: none;
    cursor: pointer;
    &.active {
      &:before {
        width: 12px;
        height: 12px;
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background: url('../img/_icon-close.svg') no-repeat center;
        background-size: cover;
      }
      div {
        display: none;
      }
      div:nth-child(1), div:nth-child(2) {
        height: 2px;
        width: 13px;
      }
      div:nth-child(1) {
        transform: rotate(45deg) translate(0,3px);
        left: 2px;
        position: relative;
        top: 2px;
      }
      div:nth-child(2) {
        transform: rotate(-45deg) translate(0,-3px);
        left: 2px;
        position: relative;
        top: 2px;
      }
      div:nth-child(3) {
        display: none;
      }
    }
    div {
      margin: 0 auto;
      background: rgba(#181313, 0.5);
      height: 2px;
      width: 18px;
      &:nth-child(1) {
        margin-top: 6px;
      }
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

}

.logo {
  max-width: 76px;
  margin-right: 72px;
  img {
    width: 100%;
  }
}

.icon-facebook {
  background-image: url(../img/icon-facebook.png);
  background-position: center;
  background-size: 9px 20px;
  background-repeat: no-repeat;
}

.icon-twitter {
  background-image: url(../img/icon-twitter.png);
  background-position: center;
  background-size: 20px 16px;
  background-repeat: no-repeat;
}

.icon-inst {
  background-image: url(../img/icon-inst.png);
  background-position: center;
  background-size: 20px 19px;
  background-repeat: no-repeat;
}