@media all and (max-width: 1450px) {
  .header .logo {
    margin-right: 30px;
  }
  .header__nav {
    margin-right: 40px;
  }
  .header__location {
    margin-right: 30px;
  }
}

@media all and (max-width: 1300px) {
  .header__nav {
    display: none;
  }
  .header .logo {

  }
  .where__map, .where__panel {
    top: 48px;
    height: calc(100% - 48px - 85px);
  }
  .header {
    height: 48px;
    .container {
      justify-content: flex-start;
      padding: 10px;
    }
    &__nav {
      display: none;
    }
    &__burger {
      display: block;
    }
    .logo {
      margin-right: 22px;
      max-width: 56px;
    }
    &__socials {
      display: none;
    }
    &__location {
      margin-right: 0;
    }
    &__location-current {
      font-size: 13px;
      &:before {
        margin-right: 6px;
        width: 8px;
        height: 12px;
      }
    }
  }
  .mobile-menu {
    display: block;
  }
}

@media all and (max-width: 640px) {
  .container, .section .container {
    padding: 0 10px;
    margin: 0 auto;
  }

  .header {
    box-shadow: 0 0 4px 0 rgba(102, 102, 102, 0.5);
  }

  .where__show-map, .where__hide-map {
    display: block;
    z-index: 4;
  }

  .section-01--first {
    h2 {
      padding-left: 65px;
      background: url('../../img/logo-10-years.png') no-repeat left center;
      background-size: 43px 63px;
    }
  }

  .section-01--second {
    h2 {
      padding-left: 65px;
      background: url('../../img/logo-65.png') no-repeat left top;
      background-size: 43px 57px;
    }
  }

  .where__map {
    top: 48px;
    height: calc(100% - 48px - 54px);
    width: 100%;
  }

  .where__panel {
    top: 48px;
    height: calc(100% - 48px - 54px);
    width: 100%;
    padding: 12px 10px;
    background: #fff;
  }

  .where__panel-select {
    margin-bottom: 14px;
    select {
      height: 40px;
      font-size: 13px;
      padding-left: 35px;
      background-position: left 16px center;
      background-size: 8px 12px;
    }
  }

  .where__panel-label {
    font-size: 13px;
    margin-bottom: 11px;
  }
  
  .where__panel .single-loc {
    box-shadow: none;
    padding: 12px 14px;
    margin-left: -10px;
    margin-right: -10px;
    &:not(:last-child) {
      border-bottom: 1px solid #f4f4f4;
    }
    &.active {
      background: #FFFFFF;
      color: #060002;
    }
  }

  .single-loc__title {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .where__map-bubble {
    padding: 16px;
    .single-loc__title {
      font-size: 16px;
    }
    .single-loc__hours, .single-loc__address, .single-loc__phone {
      font-size: 13px;
    }
  }

  .single-loc__hours, .single-loc__address, .single-loc__phone {
    font-size: 13px;
  }

  .section-01 {
    &:before, &:after {
      display: none;
    }
  }

  .section .owl-slide {
    padding: 48px 0 54px 0;
  }

  .bottom {
    height: 54px;
    .col a {
      font-size: 13px;
    }
    &__reviews {
      line-height: 16px;
      padding-left: 26px;
    }
    &__where {
      line-height: 17px;
      padding-left: 26px;
    }
  }

  .section-01 {
    h2 {
      font-size: 36px;
      margin-bottom: 12px;
    }
    .container {
      padding-top: 40px;
      padding-bottom: 24px;
    }
    &__desc-text {
      height: auto;
      font-size: 16px;
      line-height: 1.5;
    }
    &__desc-pic {
      display: none;
    }
    .watch-fullscreen-link {
      order: 3;
      margin-bottom: 109px;
      margin-top: auto;
      br {
        display: none;
      }
      a {
        font-size: 13px;
        height: 32px;
        line-height: 32px;
        padding-left: 44px;
      }
    }
    &__next {
      width: 155px;
      height: 56px;
      font-size: 13px;
      padding: 12px 0 12px 16px;
      right: 0;
      top: auto;
      bottom: 44px;
      background: #fff url(../img/icon-arrow-next.svg) no-repeat right 16px center;
    }
    &__prev {
      width: 155px;
      height: 56px;
      font-size: 13px;
      padding: 21px 16px 12px 0;
      right: 0;
      top: auto;
      bottom: 44px;
      background: #fff url(../img/icon-arrow-prev.svg) no-repeat left 16px center;
    }
  }

  .section-02 {
    .container {
      padding-top: 24px;
    }
  }

  .section-02, .section-03, .section-04, .section-05, .section-06 {
    h2 {
      font-size: 36px;
      padding-right: 30%;
      margin-bottom: 16px;
    }
    .container {
      padding-top: 40px;
      padding-bottom: 24px;
    }
    .watch-fullscreen-link {
      order: 3;
      margin-bottom: 0;
      margin-top: auto;
      br {
        display: none;
      }
      a {
        font-size: 13px;
        height: 32px;
        line-height: 32px;
        padding-left: 44px;
      }
    }
    &__desc {
      flex-direction: column;
      margin-bottom: 32px;
    }
    &__desc-text {
      font-size: 16px;
      line-height: 1.5;
      height: auto;
      max-width: 100%;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
  .section-06 {
    h2 {
      padding-right: 0;
      br {
        display: none;
      }
    }
  }

  .section-more {
    h2 {
      font-size: 36px;
      margin-bottom: 24px;
      br {
        display: none;
      }
    }
    &__desc {
      flex-direction: column;
    }
    .col {
      padding: 60px 0 0 0;
      max-width: 100%;
      &:nth-child(1):before {
        width: 48px;
        height: 48px;
      }
      &:nth-child(2):before {
        width: 48px;
        height: 48px;
      }
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
    &__desc-title {
      font-size: 18px;
      margin-bottom: 8px;
    }
    &__desc-text {
      font-size: 16px;
    }
  }

  .section-reviews {
    h2 {
      font-size: 36px;
      margin-bottom: 24px;
    }
    .reviews-wrapper {
      height: 60vh;
    }
    .review {
      width: 80vw;
      height: 60vh;
      overflow-y: scroll;
      padding-bottom: 16px;
      &__video {
        margin-bottom: 16px;
      }
      &__title, &__text, &__link {
        padding: 0 16px;
      }
      &__link {
        margin-top: 10px;
        a {
          font-size: 13px;
          &:after {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    .mCSB_scrollTools .mCSB_draggerContainer {
      display: none;
    }
  }

  .modal-choose {
    padding-left: 0;
    text-align: center;
    width: 95%;
    padding: 0;
    &__title {
      padding: 20px 0;
      padding-bottom: 20px;
      border-bottom: 1px solid #d8d8d8;
      margin-bottom: 0;
    }
    &__list {
      flex-direction: column;
    }
    &__el {
      width: 100%;
      margin: 0 auto;
      max-width: 100%;
      flex-basis: 100%;
      height: 54px;
      padding: 12px 0 12px 16px;
      font-size: 16px;
      line-height: 1.88;
      text-align: left;
      &:not(:last-child) {
        border-bottom: 1px solid #f4f4f4;
      }
      &.active {
        background: transparent;
      }
    }
  }

  .modal-quest {
    width: 95%;
    &__top {
      padding: 0;
    }
  }

}