.overlay {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#181313,0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
  cursor: pointer;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 4;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
  border-radius: 4px;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.modal-quest {
  &__top {
    height: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 106px;
    font-size: 18px;
    line-height: 1.44;
    color: $pink-color;
    padding: 0 82px;
    border-bottom: 1px solid #d8d8d8;
    .icon-location {
      display: inline-block;
      vertical-align: middle;
      width: 10px;
      height: 15px;
      background: url('../img/icon-location.svg') no-repeat center;
      background-size: cover;
      margin: 0 5px 0 8px;
    }
    .black {
      color: #060002;
    }
  }
  &__bot {
    display: flex;
    height: 66px;
  }
  &__no {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: rgba(#181414,0.5);
    border-right: 1px solid #d8d8d8;
    cursor: pointer;
  }
  &__yes {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: $pink-color;
    cursor: pointer;
  }
}

.modal-choose {
  width: 100%;
  max-width: 440px;
  padding: 25px;
  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.44;
    color: #181414;
    margin-bottom: 20px;
    padding-left: 15px;
  }
  &__el {
    cursor: pointer;
    float: left;
    // width: calc(50% - 7px);
    padding: 10px 0 10px 15px;
    flex-basis: 49%;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.44;
    color: rgba(#060002,0.5);
    border-radius: 3px;
    &:nth-of-type(2n+1) {
      // margin-right: 7px;
    }
    &:nth-of-type(2n) {
      // margin-left: 7px;
    }
    &.active, &:hover {
      background: rgba(#d8d8d8,0.3);
      color: $pink-color;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}