.section-where {

  position: relative;

}

.where__map {
  position: absolute;
  height: 100%;
  width: calc(100vw - 325px);
  top: 60px;
  left: 0;
  &-bubble {
    max-width: 400px;
    width: 95%;
    background-color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
  }
  .single-loc__hours {
    margin-top: 15px;
  }
}

.where__show-map, .where__hide-map {
  position: absolute;
  bottom: 78px;
  left: 50%;
  transform: translate(-50%,0);
  width: 137px;
  height: 38px;
  border-radius: 100px;
  background-color: #ffffff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 38px;
  font-size: 13px;
  color: $pink-color;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
  display: none;
  cursor: pointer;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.where__show-map {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.where__panel {
  position: absolute;
  top: 60px;
  right: 0;
  height: calc(100% - 60px - 85px);
  width: 325px;
  overflow-y: scroll;
  background-color: #f4f4f4;
  padding: 34px 24px;
  transition: 0.3s linear;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  &-select {
    margin-bottom: 30px;
    select {
      -webkit-appearance: none;
      font-family: $lg;
      border: 1px solid rgba(#000,0.2);
      border-radius: 6px;
      width: 100%;
      height: 56px;
      padding-left: 42px;
      font-size: 20px;
      font-weight: 600;
      color: #060002;
      background: #f4f4f4 url(../img/icon-location-silver.svg) no-repeat left 18px center;
    }
  }
  &-label {
    font-size: 16px;
    line-height: 1.38;
    color: rgba(#060002, 0.6);
    margin-bottom: 20px;
  }
  &-list {

  }
}

.single-loc {
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 24px;
  border-radius: 10px;
  color: #060002;
  cursor: pointer;
  &.active {
    background-color: #c71f52;
    box-shadow: 0 5px 15px 0 rgba(199, 31, 82, 0.7);
    color: #fff;
    .single-loc__title {
      text-decoration: none;
    }
  }
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  &__address, &__phone, &__hours {
    font-size: 16px;
    line-height: 1.38;
    opacity: 0.6;
  }
  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.44;
    text-decoration: underline;
    margin-bottom: 14px;
  }
}