.section-more {

  background-image: radial-gradient(circle at 74% 88%, rgba(255, 255, 255, 0.5), rgba(221, 221, 221, 0.5)), linear-gradient(#f4f4f4, #f4f4f4);

  h2 {
    font-size: 82px;
    font-weight: bold;
    color: #181414;
    margin-bottom: 78px;
  }

  &__desc {
    display: flex;
  }

  &__desc-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.36;
    color: #181414;
    margin-bottom: 12px;
  }

  &__desc-text {
    font-size: 20px;
    line-height: 1.5;
    color: rgba(#181414,0.45);
  }

  .col {
    max-width: 50%;
    width: 100%;
    padding-right: 40px;
    position: relative;
    padding-left: 81px;
    &:nth-child(1) {
      &:before {
        width: 57px;
        height: 57px;
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        background: url(../img/icon-more-1.svg) no-repeat center;
        background-size: cover;
      }
    }
    &:nth-child(2) {
      &:before {
        width: 57px;
        height: 57px;
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        background: url(../img/icon-more-2.svg) no-repeat center;
        background-size: cover;
      }
    }
  }

}