.section-02 {
  h2 {
    font-size: 82px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 34px;
    position: relative;
    left: -5px;
    max-width: 700px;
  }
  &__desc {
    display: flex;
    align-items: center;
  }
  &__desc-text {
    max-width: 451px;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
  }
}