.section-01 {
  h2 {
    font-size: 82px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 34px;
    position: relative;
    left: -5px;
    max-width: 700px;
  }
  &__desc {
    display: flex;
    align-items: center;
  }
  &__desc-pic {
    max-width: 63px;
    width: 100%;
    height: 92px;
    margin-right: 32px;
  }
  &__desc-text {
    max-width: 451px;
    width: 100%;
    height: 90px;
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
  }
  &__next, &__prev {
    transition: 0.2s linear;
  }
  &__next {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    opacity: 0;
    visibility: hidden;
    width: 248px;
    height: 96px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    color: #181414;
    padding: 22px 0 22px 20px;
    z-index: 2;
    background: #fff url(../img/icon-arrow-next.svg) no-repeat right 20px center;
    cursor: pointer;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__prev {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    opacity: 0;
    visibility: hidden;
    width: 248px;
    height: 96px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    color: #181414;
    text-align: right;
    padding: 35px 20px 22px 0;
    z-index: 2;
    background: #fff url(../img/icon-arrow-prev.svg) no-repeat left 20px center;
    cursor: pointer;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .container {
    opacity: 0;
    visibility: hidden;
    transform: translate(0,150px);
    transition: 0.4s linear;
    &.animate {
      opacity: 1;
      visibility: visible;
      transform: translate(0,0);
      transition-delay: 0.2s;
    }
  }
}

.section {
  position: relative;
}

.section {
  position: relative;
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity:0.7;
    z-index: 0;
  }
}

.owl-stage {
  transition: 0.6s cubic-bezier(.62,.08,.86,.9) !important;
}