.section-reviews {

  background-color: #f5f5f5;

  h2 {
    margin-bottom: 40px;
    font-size: 82px;
    font-weight: 700;
    color: #181414;
  }

  .mCSB_scrollTools .mCSB_draggerRail {
    background: rgba(#181313,0.07);
    height: 7px;
    margin: 0;
  }

  .mCSB_scrollTools.mCSB_scrollTools_horizontal {
    height: 7px;
  }

  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
    background: #c71f52;
    border-radius: 100px;
  }

  .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 7px;
    margin: 0;
    background: $pink-color;
  }

}

.reviews-wrapper {
  position: relative;
  height: 489px;
  overflow: visible;
}

.reviews-list {
  position: absolute;
  max-width: 100%;
  left: 0;
  top: 0;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 0;
}

.review {
  display: inline-block;
  width: 427px;
  height: 452px;
  background-color: #ffffff;
  border-radius: 10px;
  &:not(:last-child) {
    margin-right: 22px;
  }

  &__video {
    display: block;
    width: 100%;
    height: 173px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 0 26px 0;
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      background: url('../img/icon-play-review.svg') no-repeat center;
      background-size: cover;
      width: 57px;
      height: 57px;
    }
  }
  &__link {
    font-size: 0;
    padding: 0 22px;
    a {
      display: inline-block;
      position: relative;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.39;
      color: #060002;
      &:after {
        background: url(../img/icon-review-more.svg) no-repeat center;
        background-size: cover;
        width: 12px;
        height: 12px;
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-left: 18px;
      }
    }
  }
  &__text {
    opacity: 0.45;
    font-size: 18px;
    line-height: 1.39;
    color: #060002;
    min-height: 167px;
    white-space: normal;
    padding: 0 22px;
  }
  &__title {
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.04;
    color: #060002;
    padding: 0 22px;
  }
}