body {
  font-family: $lg;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

.section .container {
  margin-left: 250px;
}

.section-01--second .container {
  margin-left: 329px;
}

.section .owl-slide {
  background-size: cover;
  background-position: 0 30px;
  height: 100vh;
  padding: 60px 0 85px 0;
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.watch-fullscreen-link {
  margin-bottom: 24px;

  a {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    height: 47px;
    color: #ffffff;
    padding-left: 63px;
    background: url('../img/icon-play.svg') no-repeat left center;
    background-size: auto 100%;
  }
}

.section-01 {
  &:before {
    width: 14px;
    height: 22px;
    opacity: 0.4;
    border: 1px solid #fff;
    border-radius: 6px;
    content: '';
    position: absolute;
    bottom: 135px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 2;
  }
  &:after {
    width: 3.5px;
    height: 5.5px;
    opacity: 0.4;
    border: 1px solid #fff;
    border-radius: 6px;
    content: '';
    position: absolute;
    bottom: 147px;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 2;
  }
}

.mobile-menu {
  display: none;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 48px;
  width: 100%;
  height: calc(100vh - 48px);
  background: #fff;
  padding-top: 4px;
  &__list {
    a {
      display: block;
      padding-left: 16px;
      height: 54px;
      &:not(:last-child)
      {
        border-bottom: 1px solid #f4f4f4;
      }
      padding-top: 21px;
      font-size: 16px;
      font-weight: 600;
      color: #222;
      &.active {
        color: $pink-color;
      }
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #333;
    width: 100%;
    padding: 14px;
    display: flex;
    justify-content: space-between;
  }
  &__footer-text {
    font-size: 16px;
    line-height: 1.38;
    color:  #a1a1a1;
    p {
      color: #fff;
    }
  }
  &__footer-socials {
    font-size: 0;
    a {
      display: inline-block;
      width: 20px;
      height: 20px;
      opacity: 1;
      &:not(:last-child) {
        margin-right: 12px;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}