@font-face {
  font-family: 'LG Smart';
  src: url(../fonts/LG_Smart_Regular.eot);
  src: url(../fonts/LG_Smart_Regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/LG_Smart_Regular.woff) format('woff'),
  url(../fonts/LG_Smart_Regular.ttf) format('truetype'),
  url(../fonts/LG_Smart_Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LG Smart';
  src: url(../fonts/LG_Smart_Bold.eot);
  src: url(../fonts/LG_Smart_Bold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/LG_Smart_Bold.woff) format('woff'),
  url(../fonts/LG_Smart_Bold.ttf) format('truetype'),
  url(../fonts/LG_Smart_Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LG Smart';
  src: url(../fonts/LG_Smart_Semibold.eot);
  src: url(../fonts/LG_Smart_Semibold.eot?#iefix) format('embedded-opentype'),
  url(../fonts/LG_Smart_Semibold.woff) format('woff'),
  url(../fonts/LG_Smart_Semibold.ttf) format('truetype'),
  url(../fonts/LG_Smart_Semibold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'LG Smart';
  src: url(../fonts/LG_Smart_Light.eot);
  src: url(../fonts/LG_Smart_Light.eot?#iefix) format('embedded-opentype'),
  url(../fonts/LG_Smart_Light.woff) format('woff'),
  url(../fonts/LG_Smart_Light.ttf) format('truetype'),
  url(../fonts/LG_Smart_Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}